@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url("https://cdn.discordapp.com/attachments/876064594571952128/935094980534476841/wallpapersden.com_woman-in-cyberpunk-city_3840x2160.jpg");
    font-family: 'Roboto', sans-serif;
	color: white;
	
	
}

.kotak{
    width: 380px;
    height: 50px;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: white;
}

.kotak:hover{
    background-color: white;
    color: black;
    border-color: black;
    transtition: 0.5s;
}

.header{
    text-align: center;
    font-size: 35px;
}

.header img{
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
	border: solid 5px;
	border-color: white;
}

.footer{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
	color: white
}
